<!DOCTYPE html>
<html>
<head>
    <title>The Mosslit Path</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="fireflies">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>

    <div class="game-container">
        
        <div class="stats">
            🌱 Courage: {{ session.courage }} |
            🪙 Gold: {{ session.gold }}
            {% if session.blessing %}| ✨ Blessed{% endif %}
        </div>

        {% if scene %}
            <p class="scene-text">{{ scene }}</p>
        {% else %}
            <p class="scene-text">Your adventure awaits! Press begin to start.</p>
        {% endif %}

        {% if session.scene in ['left', 'fairy_help', 'fairy_ignore'] %}
            <div class="character-area">
                <div class="fairy-wrapper
                    {% if session.scene == 'fairy_help' %} blessed {% endif %}
                    {% if session.scene == 'fairy_ignore' %} offeded {% endif %}
                ">
                    <img src="{{ url_for('static', filename='images/fairy.png') }}" class="fairy-sprite">
            </div>

                {% if session.scene == 'fairy_help' %}
                    <div class="dialogue-box">
                        ✨ "Hello traveller… I am Luma of the Moss. May this light guide you."
                    </div>   
                {% elif session.scene == 'fairy_ignore' %}
                    <div class="dialog-box angry">
                        "...The forest remembers those who walk without kidness.""
                    </div>   
                {% endif %}       
            </div>
        {% endif %}

        <form action="{{ url_for('game') }}" method="post" class="choices">
            {% for value, label in options %}
                <button type="submit" name="choice" value="{{ value }}" class="action-btn">
                    {{ label }}
                </button>
            {% endfor %}
        </form>
    </div>
</body>
</html>
