<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>The Mosslit Path</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div class="fireflies">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div class="landing">

            <h1>✨ Welcome to The Mosslit Path ✨</h1>

            <p>Embark on a whimsical journey through enchanted forests, magical rivers, and mysterious creatures!</p>
            
            <form action="{{ url_for('game') }}" method="POST">
                    <button type="submit" name="choice" value="start" class="begin-btn">
                        Begin Journey
                    </button>
            </form>
            
        </div>
    </body>
</html>